[Unit]
Description=Copy passwd for OperationHub

[Service]
Type=simple
User=root
Group=root
ExecStartPre=/usr/bin/mkdir -p /var/lib/jupyterhub/passwd
ExecStart=/usr/local/bin/copy-passwd.sh
Restart=always

[Install]
WantedBy=multi-user.target

